#pages-menu h4, #posts-menu h4{
    color: var(--main-a-color);
    font-weight: inherit;
}

#pages-menu a:active, #posts-menu a:active{
    color: var(--main-ah-color);
    font-weight: 500;
}









#pages-menu h4:hover, #posts-menu h4:hover{
    color: var(--main-ah-color);

}

#pages-menu{
    text-align: right;
}

#posts-menu{
    margin-top: 3rem;
    text-align: left;
}

