.search{
    flex-direction: row;
}

.search * {
    display: inline-block;
}

.search form{
    display: contents;
}

.search input[type=text]{
    max-width: 8rem;
    vertical-align: middle;
    padding: 5px;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid  var(--main-btn-color);
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

button.search{
    vertical-align: middle;
    width: 1rem;
    border: none;
    font-size: 1.2rem;
    color: var(--main-btn-color);
    background-color: var(--main-bg-color);
}

nav.nav-top{
    display: flex;
    justify-content: flex-start;
}

nav.top-nav button.search {
    vertical-align: middle;
}
